.contact-container {
    background-color: #ffffff;
    width: 80%;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 17vh;
    margin-bottom: 5vh;
}

.contact-title h2 {
    font-size: 30px;
    color: var(--accent);
    text-align: center; 
}

.contact-title hr {
    border: 1px solid var(--neutral-focus);
    width: 100%;
    margin: 20px 0;
}

.contact-inputs {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: left;
}

textarea.contact-inputs {
    height: 150px;
    resize: none;
    font-family: sans-serif;
}

.contact-button-contact {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 15px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: var(--accent);
    background-color: white;
    border: 2px solid var(--neutral-focus);
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.contact-button-contact:hover {
    background-color: var(--neutral-focus);
    color: #fff;
}

.contact-inputs {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.contact-inputs:focus {
    border: 2px solid var(--neutral-focus); 
    outline: none;
}
