.circle-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20vh;
}

.circle-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    text-align: center;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--neutral-focus);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.circle img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

.circle p {
    font-size: 15px;
    color: var(--accent);
    margin: 0;
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 800px) {
    .circle-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .circle-item {
        flex-direction: row;
        justify-content: center;
        align-items: left;
        gap: 10px;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .circle {
        margin-bottom: 0;
        width: 50px;
        height: 50px;
    }

    .circle img {
        width: 20px;
        height: 20px;
    }

    .circle p {
        font-size: 10px;
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    #owners {
        font-size: 13px;
    }
    .circle {
        margin-bottom: 0;
        width: 30px;
        height: 30px;
    }

    .circle img {
        width: 10px;
        height: 10px;
    }
    .circle-item {
        margin-left: 10vh;
    }
}
