:root {
    --neutral: #f8f9fa;
    --base-100: #0055ff;
    --neutral-focus: #0055ff;
    --accent: #173753;
    --secondary: #b8c1ec;
}

* {
    margin: 0;
}

body {
    font-family: "Noto Serif", sans-serif;
    text-align: center;
    background-color: var(--neutral);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 50px;
}

/* Style for the entire header */
header {
    display: flex;
    justify-content: right; /* Logo til venstre, navigation til højre */
    align-items: center;            /* Vertikal centrering */
    padding: 20px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--neutral);
    border-bottom: 3px solid var(--neutral-focus); /* Beholder border-bottom */
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1); /* Tilføjer skygge */
    z-index: 1000;
}


/* Style for the navigation links */
.nav-links {
    display: flex;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/* Individual navigation link styling */
.nav-links a {
    text-decoration: none;
    padding: 0 20px;
    color: var(--accent);
    position: relative;
    font-size: 15px;
}

/* Hover effect for navigation links */
.nav-links a::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--neutral-focus);
    display: block;
    position: absolute;
    left: 0;
    bottom: -22px;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

/* Hover effect visibility */
.nav-links a:hover::after, 
.nav-links a:focus::after  {
    opacity: 1;
}


small {
    font-size: 80px;
    font-family: "poppins";
    font-weight: 600;
}

#copyright {
    font-size: 20px;
}

#forside {
    background-color: var(--neutral);
    color: var(--base-100);
    display: flex;
    flex-direction: column;
}

#forside h1 {
    margin-top: 40vh;
}
#forside p {
    color: var(--accent);
    font-size: 20px;
    font-style: italic;
    margin: 15px 0;
}

@keyframes appear {
    from {
      opacity: white;
      scale: 0;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  .block {
    margin-top: 10vh;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
  }

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--base-100);
}

.hero p {
    font-family: sans-serif;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--accent);
    font-size: 20px;
}

.pic {
    width: 30px;
    height: auto;
}

.social-links {
    display: flex;
}

.social-links a {
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 20px 10px #0055ff0d;
    margin: 0 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.social-links a .pic {
    width: 30px;
    margin-top: 25px;
    position: relative;
    z-index: 10;
    transition: filter 0.5s;
}

.social-links a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: var(--base-100);
    position: absolute;
    transition: 0.5s;
}

.social-links a:hover::after {
    top: 0;
}

.social-links a:hover .pic {
    filter: brightness(0) invert(1); /* Gør billedet hvidt */
}


#process {
    scroll-margin-top: 200px;
}

.process {
    background: var(--neutral);
}


.process h1 {
    color: var(--accent);
    font-size: 40px;
}

.process-title {
    font-family: sans-serif;
    font-style: italic;
    color: var(--accent);
    font-size: 20px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.timeline-container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 3s linear forwards;
    opacity: 0;
    z-index: 10;
    display: flex; /* Enables flexbox for child elements */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.timeline-container:nth-child(4) {
    animation-delay: 3s;
}
.timeline-container:nth-child(5) {
    animation-delay: 4s;
}
.timeline-container:nth-child(6) {
    animation-delay: 5s;
}
.timeline-container:nth-child(7) {
    animation-delay: 6s;
}
.timeline-container:nth-child(8) {
    animation-delay: 7s;
}
.timeline-container:nth-child(9) {
    animation-delay: 8s;
}
.timeline-container:nth-child(10) {
    animation-delay: 9s;
}

.text-box {
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    text-align: left;
    
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.timeline-container img {
    position: absolute;
    width: 35px;
    right: -20px;
    top: 32px;
    z-index: 20;
    filter: brightness(0) invert(1);
}

.timeline-container {
    position: relative; /* Gør containeren til reference for de absolutte positioner */
}

.circle {
    width: 60px; /* Diameter på cirklen */
    height: 60px; /* Diameter på cirklen */
    border-radius: 50%; /* Gør den rund */
    background-color: var(--neutral-focus); /* Blå farve fra variablen */
    position: absolute; /* Gør det muligt at placere den præcist */
    top: 20px; /* Justér til den ønskede position, samme som img */
    z-index: 1; /* Sørg for at cirklen er bag billederne */
}

/* Venstre cirkel */
.left-container .circle {
    right: -33px; /* Justerer venstre cirkel til venstre side */
}

/* Højre cirkel */
.right-container .circle {
    left: -33px; /* Justerer højre cirkel til højre side */
}

.right-container img {
    left: -20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--base-100);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 0;
    animation: moveline 7s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.text-box h2 {
    font-weight: 600;
    color: var(--base-100);
    margin-bottom: 0 10px;
}

.text-box p {
    color: var(--accent);
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 11;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 11;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

@media screen and (max-width: 600px) {
    .timeline {
        margin: 50px auto;
    }
    .timeline::after {
        margin: 31px auto;
    }
    .timeline-container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box {
        font-size: 13px;
    }
    .right-container {
        left: 0;
    }
    .left-container img, .right-container img {
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}


.contact-button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #000;
    background-color: var(--neutral);
    border: 2px solid var(--neutral-focus);
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.contact-button:hover {
    background-color: var(--neutral-focus);
    color: #fff;
}

.contact-info {
    margin-top: -450px;
    margin-bottom: -320px;
}

.info {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.info-pic {
    width: 30px;
    height: auto;
    filter: brightness(0) invert(1);
}

.contact-icon {
    display: flex;
}

.contact-icon a {
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    background-color: #0055ff;
    box-shadow: 0 0 20px 10px #0055ff0d;
    margin: 0 90px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.contact-icon a .info-pic {
    width: 30px;
    margin-top: 25px;
    position: relative;
    z-index: 10;
}

.contact-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
}

.contact-text p {
    margin: 0 30px;
    font-family:"poppins";
    padding-bottom: 40vh;
    padding-top: 5px;
    height: 40px;
    width: 200px;
    color: var(--accent);
}

#contact {
    background-color: var(--neutral);
    color: var(--accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin-top: -140px;
    margin-bottom: 130px;
}

#contact h1 {
    font-size: 40px;
    margin-top: 30vh;
}

#contact p {
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 600px;
    margin-top: 20px;
}

footer {
    background-color: var(--neutral);
    padding: 40px 0;
    text-align: center;
    color: var(--accent);
    border-top: 3px solid var(--neutral-focus); /* Beholder border-bottom */
    box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.1); /* Tilføjer skygge */
}



.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    height: 5px;
}

footer p {
    margin: 10px 0;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-container {
    background-color: #ffffff;
    width: 80%;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto; /* Centrér boksen horisontalt */
    margin-top: 17vh;
}

.contact-title h2 {
    font-size: 30px;
    color: var(--accent);
    text-align: center; /* Centrér <h2> */
}

.contact-title hr {
    border: 1px solid var(--neutral-focus);
    width: 100%;
    margin: 20px 0;
}

.contact-inputs {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: left; /* Sørg for at inputs forbliver venstrestillede */
}

textarea.contact-inputs {
    height: 150px;
    resize: none;
    font-family: sans-serif;
}

.contact-button-contact {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: var(--accent);
    background-color: white;
    border: 2px solid var(--neutral-focus);
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    text-align: center; /* Sikrer centrering af tekst i knappen */
    margin-left: auto;
    margin-right: auto; /* Centrér knappen */
    margin-bottom: 10px;
}

.contact-button-contact:hover {
    background-color: var(--neutral-focus);
    color: #fff;
}

.contact-inputs {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc; /* Standard grænsefarve */
    font-size: 16px;
    transition: border-color 0.3s ease; /* Glidende overgang ved fokus */
}

.contact-inputs:focus {
    border: 2px solid var(--neutral-focus); /* Ny grænsefarve ved fokus */
    outline: none; /* Fjern standard fokus outline */
}
